<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%=h task.title %></td>
    <td><%=h task.description %></td>
    <% form_for(task) do |f| %>
      <% if task.started? and !task.paused? %>
        <td><%= f.submit 'Pause' %></td>  
      <% end %>      
      <% if task.paused? || task.stopped? %>
        <td><%= f.submit 'Start' %></td>  
      <% end %>
      <% if task.started? || task.paused? %>
        <td><%= f.submit 'Stop' %></td>  
      <% end %>      
    <% end %>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% unless task.time_intervals.empty? %>
    <% duration = 0 %>
    <% task.time_intervals.each { |ti| duration += ti.duration } %>
    <tr>
      <td><%= "Time spent: '#{duration}'" %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New task', new_task_path %>
